.edit-todo-wrapper {
    background-color: rgb(255, 255, 255);
    width: 100%;
    max-width: 457px;
    min-height: 65px;
    max-height: 65px;
    position: absolute;
    z-index: 99;
    display: flex;

    .edit-todo-input {
        width: 100%;
        background-color: $clr8;
    }
}
