.todo-add-wrapper {
    margin-bottom: 5px;
    display: flex;
    justify-content: flex-end;

    .todo-add-input {
        width: 100%;
        background-color: $clr8;
    }

    .button {
        margin-right: 5px;
    }
}
